{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>ADD KEYWORD TO SCRAP FOR TWITTER</h1>
</div>
<p class="lead">chaostheory</code></p>




<h2>ADD KEYWORD HERE</h2>

<label for="start_date">Start date (date/month/year):</label><br>

<input type="date" id="start_date" value="">

<br>
<br>
<label for="end_date">End date (date/month/year):</label><br>
<input type="date" id="end_date" value="">

<br>
<br>

<form action="/action_page.php">



  <label for="T_keyword">Thai Keyword:</label><br>
  <textarea id="T_keyword" name="T_keyword" rows="4" cols="50">
  "ลิเวอร์พูล","แมนยู","ฟุตบอล"
  </textarea>
  <br>
  <br>



  <label for="E_keyword">English Keyword:</label><br>
  <textarea id="E_keyword" name="E_keyword" rows="4" cols="50">
  "liverpool","manu","football"
  </textarea>
  <br>
  <br>

  <label for="T_sub_keyword">Thai Sub keyword:</label><br>
  <textarea id="T_sub_keyword" name="T_sub_keyword" rows="4" cols="50">
  #ฟุตบอล
  </textarea>
  <br>
  <br>

  <label for="E_sub_keyword">English Sub keyword:</label><br>
  <textarea id="E_sub_keyword" name="E_sub_keyword" rows="4" cols="50">
  #football
  </textarea>
  <br>
  <br>

  <!-- <input type="text" id="sub_keyword" name="sub_keyword" value=""><br><br> -->
  <input type="submit" value="Add keyword to scrap">
</form> 



<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

{% endblock %}
